/* color paltte */
/* orange FF6403 */
/* green 12835E*/

.navbar {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

.img-fluid {
  object-fit: cover;
  width: 100%;
  height: 50;
}

.about {
  text-align: center;
  padding: 25px 20px 25px 20px;
}

.welcome {
  padding-bottom: 20px;
}

.text-orange {
  color: #ff6403;
}

.about-1 img,
.grid img {
  max-width: 100%;
  height: auto;
}

.overview {
  text-align: justify;
}

.layanan {
  background-color: #d9d9d9;
}

.layanan-header,
.fasilitas-header {
  text-align: center;
  padding: 25px 20px 25px 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  align-items: center;
}

.grid-container :last-child {
  grid-column: 2;
}

.grid-container .card {
  background: #d9d9d9;
  border: none;
  text-align: center;
  justify-self: center;
  align-items: center;
  padding-bottom: 25px;
}

.icon-layanan {
  color: #12835e;
}

.grid-container h6 {
  padding-top: 10px;
  color: #12835e;
}

.grid-container-fas {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  align-items: center;
  grid-gap: 20px;
  padding: 0px 30px 20px 30px;
  border-radius: 0;
}

.grid-container-fas img {
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: #12835e;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  margin-top: 25px;
  padding: 20px 20px 25px 20px;
}

.footer h5,
.footer p {
  color: white;
}

.contact {
  word-spacing: 5px;
}

.footer img {
  max-width: 60%;
  height: auto;
}

.sosmed {
  color: white;
  letter-spacing: 20px;
}

.credit {
  background-color: #0f6448;
  color: white;
  padding: 10px 0px 10px 30px;
}

.hero-1 {
  position: relative;
}

.hero-1 img {
  opacity: 0.5;
}

.hero-1 h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.tentang {
  padding: 20px 100px 20px 100px;
  text-align: center;
  line-height: 40px;
}

.tentang span {
  text-align: justify;
}

/* CSS ADMIN */
.header-logo {
  background-color: #0f6448;
  height: 100vh;
}

.icon-log {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.icon-log img {
  height: 70vh;
}

.pic-log {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.pic-log img {
  height: 100px;
}

.txt-log {
  text-align: center;
  padding: 20px 0px 10px 0px;
}

.form-group input {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 50px;
  border-radius: 8px;
  padding: 5px;
  width: 80%;
  height: 40px;
  border: 1px solid #d9d9d9;
  color: rgb(0, 0, 0);
}

.input-field:active {
  border-color: #d9d9d9;
}

.btn-login {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 50px;
  border-radius: 8px;
  width: 80%;
  height: 40px;
  border: none;
  background-color: #ff6403;
  color: white;
}

/* CSS SIDE BAR */
.admin-sidebar {
  background-color: #0f6448;
  color: white;
  width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto; /* Add this line to enable vertical scrolling */
  /* z-index: 1000; */
  /* transition: width 0.3s ease, left 0.3s ease; */
  height: auto; /* Add a fixed height for the sidebar */
}

.admin-sidebar img {
  width: 130px;
  height: 50px;
  margin-bottom: 20px;
}

.admin-sidebar li {
  margin-top: 1px;
  margin-left: 15px;
}

.sb-logout {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

.icon-profile {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}

.content-fasilitas,
.content-layanan {
  margin-left: 290px;
  margin-top: 100px;
}

.btn-add {
  background-color: #ff6403;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  border: 0;
}

.content-fasilitas-data,
.content-layanan-data {
  margin-top: 20px;
  margin-right: 50px;
}

.tambah-fasilitas {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 50px;
  padding: 10px;
}

/* CSS POPUP */

.tambah-form {
  display: flex;
  flex-direction: column;
}

.tambah-form label {
  margin-top: 10px;
}

.form-buttons {
  display: flex;
  margin-top: 20px;
}

.form-buttons Button {
  margin: 5px;
}
