/* color paltte */
/* orange FF6403 */
/* green 12835E*/

.navbar {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

.img-fluid {
  object-fit: cover;
  width: 100%;
  height: 50;
}

.about {
  text-align: center;
  padding: 25px 20px 25px 20px;
}

.welcome {
  padding-bottom: 20px;
}

.text-orange {
  color: #ff6403;
}

.about-1 img,
.grid img {
  max-width: 100%;
  height: auto;
}

.overview {
  text-align: justify;
}

.layanan {
  background-color: #d9d9d9;
}

.layanan-header,
.fasilitas-header {
  text-align: center;
  padding: 25px 20px 25px 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  align-items: center;
}

.grid-container :last-child {
  grid-column: 2;
}

.grid-container .card {
  background: #d9d9d9;
  border: none;
  text-align: center;
  justify-self: center;
  align-items: center;
  padding-bottom: 25px;
}

.icon-layanan {
  color: #12835e;
}

.grid-container h6 {
  padding-top: 10px;
  color: #12835e;
}

.grid-container-fas {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  align-items: center;
  grid-gap: 20px;
  padding: 0px 30px 20px 30px;
  border-radius: 0;
}

.grid-container-fas img {
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: #12835e;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  margin-top: 25px;
  padding: 20px 20px 25px 20px;
}

.footer h5,
.footer p {
  color: white;
}

.contact {
  word-spacing: 5px;
}

.footer img {
  max-width: 60%;
  height: auto;
}

.sosmed {
  color: white;
  letter-spacing: 20px;
}

.credit {
  background-color: #0f6448;
  color: white;
  padding: 10px 0px 10px 30px;
}

.hero-1 {
  position: relative;
}

.hero-1 img {
  opacity: 0.5;
}

.hero-1 h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.tentang {
  padding: 20px 100px 20px 100px;
  text-align: center;
  line-height: 40px;
}

.tentang span {
  text-align: justify;
}
